#home_wrapper{
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding-left: 14%;
  display: flex;


  .right_menu{
    width: 400px;
    overflow-x: hidden;
  }

  p {

    height: 36px;
    margin-top: 32px;
    color: #FAFAFB;
  }

}


