#home_wrapper{
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding-left: 13.5%;
  display: flex;
  margin-top: 2.3rem;

  .main_content_wrapper {
    width: 65%;

    p {
      padding-left: 2.5rem;
      font-size: 1.7rem;
      font-weight: 600;
      margin: 0;
    }

    .content_wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 1.25rem;
      box-sizing: border-box;

      .video_card {
        width: 50%;
        padding: 1.25rem;
        box-sizing: border-box;
      }
    }
  }

  .right_menu{
    width: 20%;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    right: 2%;


  }

  p {
    height: 36px;
    margin-top: 32px;
    color: #FAFAFB;
  }

}



@media only screen and (max-width: 768px) {
  #home_wrapper {
    padding: 8rem 0 0 0;
    margin: 0;

    p {
      margin: 0;
    }

    .main_content_wrapper {
      width: 100%;
      padding: 0;

      p {
        padding-left: 1rem;
      }

      .content_wrapper {
        padding: 0;

        .video_card {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}
