#saved_wrapper {
  margin-left: 15%;

  h1 {
    font-size: 1.8rem;
  }

  #articles {

    display: flex;
    flex-wrap: wrap;

    .article {
      width: 33%;
      padding: 1rem;
      box-sizing: border-box;
    }
  }
}
