<div class="body_container">
<div class="cover_container">
  <div class="cover_img">
    <div class="img" style="background-image:url('https://petapixel.com/assets/uploads/2021/06/Social-Medias-Impact-on-Landscape-and-Nature-Photography.jpg')"> </div>
    <div class="gradient"></div>
  </div>
</div>

  <div class="cover_details">
    <div class="img" style="background-image:url('https://nationalgeographic.pt/images/revistas/140/Chitas/chita12.jpg')"></div>
    <div class="cover_details_text">
      <p class="title">NatGeo Alunos</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel leo fringilla, consequat eros vel, tincidunt elit. Morbi porttitor ex efficitur sem scelerisque, vel ultricies augue ornare.</p>
    </div>
    <hr class="divider">
  </div>

  <p>Videos</p>
  <div class="container_vid">
      <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
    <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
      <app-video-card class="vid"></app-video-card>
    </div>
</div>

