<div class="body_container">
<div class="cover_container">
  <div class="cover_img">
    <div class="img" style="background-image:url({{this.BaseUrl+channel.cover_image}})"> </div>
    <div class="gradient"></div>
  </div>
</div>

  <div class="cover_details">
    <div class="img" style="background-image:url({{this.BaseUrl+channel.profile_picture}})"></div>
    <div class="cover_details_text">
      <p class="title">{{channel.name}}</p>
      <p>{{channel.description}}</p>
    </div>
    <hr class="divider">
  </div>

  <p>Videos</p>
  <div class="container_vid">
    <app-video-card class="video_card" *ngFor=" let video of video"
                    [id]="video.id"
                    card="channelpage"
                    [tag]="video.tags"
                    [title]="video.title"
                    [published_date]="video.published_date"
                    [duration]="video.duration"
                    [thumbnail]="this.list.getThumbnail(video.thumbnail, video.video_url)"
                    >

    </app-video-card>

    </div>
</div>

