<div class="channel_sug_container">
  <div class="channel_sug_title">
    <p>Canais Sugeridos</p>
  </div>
  <div class="channel_avatar_wrapper">
    <div class="channel_avatar">
      <img src="assets/avatar.png">
      <p>FailTurma</p>
    </div>
    <div class="channel_avatar">
      <img src="assets/avatar.png">
      <p>BuzzSkill</p>
    </div>
    <div class="channel_avatar">
      <img src="assets/avatar.png">
      <p>ZeAcademy</p>
    </div>
    <div class="channel_avatar">
      <img src="assets/avatar.png">
      <p>Eleven Skill</p>
    </div>
    <div class="channel_avatar">
      <img src="assets/avatar.png">
      <p>NatGeo Alunos</p>
    </div>
  </div>
  <div class="show_more_container">
    <p>MOSTRAR MAIS</p>
  </div>

</div>


