<div class="channel_sug_container">
  <p>Canais Sugeridos</p>
  <hr>
  <div class="avatar_canal">
    <img src="assets/avatar.png">
    <p>FailTurma</p>
  </div>
  <div class="avatar_canal">
    <img src="assets/avatar.png">
    <p>BuzzSkill</p>
  </div>
  <div class="avatar_canal">
    <img src="assets/avatar.png">
    <p>ZeAcademy</p>
  </div>
  <div class="avatar_canal">
    <img src="assets/avatar.png">
    <p>Eleven Skill</p>
  </div>
  <div class="avatar_canal">
    <img src="assets/avatar.png">
    <p>NatGeo Alunos</p>
  </div>
  <h5 class="shape">MOSTRAR MAIS</h5>
</div>


