.channel_sug_container {
  Height: 401px;
  margin-top: 36px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #1C1C24;

}

.shape{
  padding: 26px 0;
  margin: 0;
  background-color: rgba(146, 146, 157, 0.1);
  mix-blend-mode: normal;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p {
  color: #FAFAFB;
  padding-left: 15px;


}

hr {
  border-color: #292932;
  margin: 0;
}

.avatar_canal {
  display: flex;
  align-items: center;
  padding-left: 15px;

  img {
    height: 30px;

  }
}


h5 {
  color: #FFFFFF;
  text-align: center;
}
