<nav id="nav_wrapper" [ngClass]="menu">
  <div class="brand_container" >
    <fa-icon [icon]="faBars" class="hamburger" (click)="switchMobile(); $event.stopPropagation()"></fa-icon>
    <img src="assets/upload.svg" alt="UPload" class="brand_logo" routerLink="/home">
  </div>
  <div id="menu_wrapper">
    <div id="menu_items_wrapper">
      <div class="menu_item" routerLink="/home" routerLinkActive="activated">
        <fa-icon [icon]="faHome" class="icon"></fa-icon>
        <p>{{'HOME' | translate}}</p>
      </div>
      <div class="menu_item" routerLink="/channels" routerLinkActive="activated">
        <fa-icon [icon]="faStream" class="icon"></fa-icon>

        <p>{{'CHANS' | translate}}</p>
      </div>
      <div class="menu_item" routerLink="/articles" routerLinkActive="activated">
        <fa-icon [icon]="faFilm" class="icon"></fa-icon>
        <p>{{'ARTS' | translate}}</p>
      </div>
      <div class="menu_item" routerLink="/playlists" routerLinkActive="activated">
        <fa-icon [icon]="faPlay" class="icon"></fa-icon>
        <p>{{'PLAYLISTS' | translate}}</p>
      </div>
      <div class="menu_item" routerLink="/saved" routerLinkActive="activated">
        <i class="fa-solid fa-bookmark"></i>
        <p>{{'SAVED' | translate}}</p>
      </div>
    </div>
    <div id="tag_wrapper">
      <h1>{{'TAGS' | translate}}</h1>
      <div class="tag_container">
        <div class="tag" *ngFor="let tag of tags | slice: 0:7" [routerLink]="['/search/tag/',tag.id]"> {{tag.name}}</div>
        <app-tags-list *ngIf="tagModal" class="tagPopUp"></app-tags-list>
      </div>
      <p (click)="tagModal=true" class="show_more_tags">{{'SHOWMORE' | translate}}</p>
    </div>
    <div class="language">
      <h3 class="pt" (click)="switchLang('pt')">PT</h3>
      <h3> | </h3>
      <h3 class="en" (click)="switchLang('en')">EN</h3>
    </div>
  </div>
</nav>
