<nav id="nav_wrapper">
  <div class="brand_container">
    <img src="assets/upload.svg" alt="UPload" class="brand_logo">
  </div>

  <div id="menu_wrapper">
    <a href="">
    <div class="menu_item">
      <i class="fa-solid fa-house"></i>
      <p>Início</p>
    </div>
    </a>
    <a href="/channel-list">
    <div class="menu_item">
      <i class="fa-solid fa-bars-staggered"></i>
      <p>Canais</p>
    </div>
    </a>
    <a href="/article">
      <div class="menu_item">
        <i class="fa-solid fa-clapperboard"></i>
        <p>Temáticas</p>
      </div>
    </a>
    <a href="/playlist-list">
      <div class="menu_item">
        <i class="fa-solid fa-play"></i>
        <p>Playlists</p>
      </div>
    </a>
  </div>


  <div id="tag_wrapper">
    <h1>TAGS</h1>
    <div class="tag_container">
      <div class="tag" *ngFor="let tag of tags" [routerLink]="['/search/tag/',tag.id]"> {{tag.name}}</div>
    </div>
  </div>
</nav>
