<nav id="nav_wrapper">
  <div class="brand_container">
    <img src="assets/upload.svg" alt="UPload" class="brand_logo">
  </div>

  <div id="menu_wrapper">
    <div class="menu_item">
      <i class="fa-solid fa-house"></i>
      <p>Início</p>
    </div>
    <div class="menu_item">
      <i class="fa-solid fa-bars-staggered"></i>
      <p>Canais</p>
    </div>
    <div class="menu_item">
      <i class="fa-solid fa-clapperboard"></i>
      <p>Temáticas</p>
    </div>
    <div class="menu_item">
      <i class="fa-solid fa-play"></i>
      <p>Playlists</p>
    </div>
  </div>

  <div id="tag_wrapper">
    <h1>TAGS</h1>
    <div class="tag_container">
      <div class="tag">gamers</div>
      <div class="tag">freefire</div>
      <div class="tag">live</div>
      <div class="tag">games</div>
      <div class="tag">playstation</div>
      <div class="tag">delicious</div>
    </div>
  </div>
</nav>
