<div class="popup_container">
  <div class="popup_header">
    <div>
  <p class="title">{{'ALLTAGS' | translate}}:</p>
    <p class="sub_title">{{'SELECTTAG' | translate}}</p>
    </div>
    <div class="close_popup" (click)="this.nav.tagModal=false"><img src="assets/closeBtn.svg" alt="close_button_popUp"></div>
  </div>

  <div class="popup_content">
      <div   *ngIf="leftArrow" class="arrow"  id="lef_arrow" (click)="prevPage()" ><</div>
    <div class="tag_container">
      <div *ngFor="let tag of tags" class="tag" (click)="select(tag.id)" [ngClass]=" isSelected(tag.id)  ? 'select': '' ">{{tag.name}}</div>
    </div>
    <div  *ngIf="rightArrow" class="arrow"  id="right_arrow" (click)="nextPage()" >></div>
  </div>

  <div class="searchBtn">
    <p *ngIf="this.tagsSelected.length>0" (click)="cleanSearchTags()">{{'CLEARSELECT' | translate}}</p>

    <button *ngIf="this.tagsSelected.length>0" type="button" (click)="go()" [routerLink]="['/search/tag/',searchTags()]">{{'SEARCH' | translate}}</button>
    <button *ngIf="this.tagsSelected.length==0" type="button" class="disabled">{{'SEARCH' | translate}}</button>
  </div>
</div>
