<div class="popup_container">
  <div class="popup_header">
    <div>
    <p class="title">Todas As Tags</p>
    <p class="sub_title">Selecionar uma ou mais Tags</p>
    </div>
    <div class="close_popup" (click)="this.nav.tagModal=false">X</div>
  </div>

  <div class="popup_content">
  <!--  <div class="tag" *ngFor="let tag of tags" [routerLink]="['/search/tag/',tag.id]"> {{tag.name}}</div> -->

    <div  class="arrow"  id="lef_arrow"><</div>
    <div class="tag_container">
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    <div class="tag" > tagsd</div>
    </div>
    <div class="arrow"  id="right_arrow">></div>

  </div>

</div>
