<div id="home_wrapper">
  <div class="video_wrapper">
    <div class="video_header">
      <div class="video_information">
        <h1 class="video_title">{{video.title}}</h1>
        <div class="video_tag_container">
          <a class="video_tag" *ngFor="let tag of tags" [routerLink]="['/search/tag/',tag.id]" >#{{tag.name}}</a>
        </div>
      </div>
      <div class="report_container">
        <i class="fa-solid fa-flag"></i>
      </div>
    </div>

    <div id="video_container">
      <iframe width="560" height="315" [src]="this.VideoId(this.video.video_url) | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div id="channel_wrapper">
      <div class="channel_logo_container">
        <img class="channel_logo" src="{{this.BaseUrl+video.channel_picture}}" alt="">
      </div>
      <div class="channel_information">
        <div class="channel_name">{{video.channel_name}}</div>
        <div class="publishing_date">{{video.published_date}}</div>
      </div>
      <div class="rating_container">
        <div class="likes_container">
          <i class="like fa-solid fa-thumbs-up"></i>
          100
        </div>
        <div class="dislikes_container">
          <i class="dislike fa-regular fa-thumbs-down"></i>
          3
        </div>
      </div>
    </div>

    <div id="video_description_wrapper">
      <p class="video_description">{{video.description}}</p>
    </div>
  </div>
  <div class="video_card_wrapper">


    <ng-container *ngFor=" let videoByTag of videosByTag">
      <app-video-card class="video_card" *ngIf="video.id !== videoByTag.id"
                      [id]="videoByTag.id"
                      [channelId]="video.channel_id"
                      [channel_name]="videoByTag.channel_name"
                      card="videopage"
                      [title]="videoByTag.title"
                      [published_date]="videoByTag.published_date"
                      [duration]="videoByTag.duration"
                      [thumbnail]="this.service.getThumbnail(videoByTag.thumbnail, videoByTag.video_url)"
                      [channel_avatar]="this.BaseUrl + videoByTag.channel_picture">
      </app-video-card>
    </ng-container>
  </div>
</div>

<app-comments></app-comments>
