<div id="home_wrapper">
  <div class="video_wrapper">
    <div class="video_header">
      <div class="video_information">
        <h1 class="video_title">{{video.title}}</h1>
        <div class="video_tag_container">
          <a class="video_tag" *ngFor="let tag of tags" [routerLink]="['/search/tag/',tag.id]">#{{tag.name}}</a>
        </div>
      </div>
      <div class="buttons">
        <div class="fav_button" (click)="service.toggleFavorite(video.id)">
          <fa-icon *ngIf="this.service.isSaved(video.id)" [icon]="savedIcon" class="icon"></fa-icon>
          <fa-icon *ngIf="!this.service.isSaved(video.id)" [icon]="notSavedIcon" class="icon"></fa-icon>
        </div>
        <div class="share_button" (click)="this.service.togglePopUp()">
          <fa-icon [icon]="faShareAlt" class="icon"></fa-icon>
        </div>
        <div class="popup" *ngIf="this.service.showShare">
          <div class="overlay"></div>
          <app-share></app-share>
        </div>
        <div class="report_container">
          <fa-icon [icon]="faFlag" class="icon"></fa-icon>
        </div>
      </div>
    </div>

    <div id="video_container">
      <iframe width="560" height="315" [src]="this.VideoId(this.video.video_url) | safeUrl" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
    </div>

    <div id="channel_wrapper">
      <div class="playlist_logo_container">
        <img class="channel_logo" src="{{this.BaseUrl+video.channel_picture}}" alt="">
      </div>
      <div class="channel_information">
        <div class="channel_name">{{video.channel_name}}</div>
        <div class="publishing_date">{{video.published_date}} {{'AGO' | translate}}</div>
      </div>
      <div class="rating_container">
        <div class="likes_container" (click)="postLike(video.id)" [ngClass]="likeType">
          <fa-icon *ngIf="likeType == 'notLiked'" [icon]="notLiked" class="like"></fa-icon>
          <fa-icon *ngIf="likeType == 'liked'" [icon]="liked" class="like"></fa-icon>
          {{likes.count}}
        </div>
        <div class="dislikes_container" (click)="postDislike(video.id)" [ngClass]="dislikeType">
          <fa-icon *ngIf="dislikeType == 'notDisliked'" [icon]="notDisliked" class="dislike"></fa-icon>
          <fa-icon *ngIf="dislikeType == 'disliked'" [icon]="disliked" class="dislike"></fa-icon>
          {{dislikes.count}}
        </div>
      </div>
    </div>

    <div id="video_description_wrapper">
      <p class="video_description">{{video.description}}</p>
    </div>

    <app-comments [videoId]="video.id" type="video"></app-comments>
  </div>
  <div class="video_card_wrapper">

    <ng-container *ngFor=" let videoByTag of videosByTag">
      <app-video-card class="video_card" *ngIf="video.id !== videoByTag.id"
                      [id]="videoByTag.path"
                      [channelId]="video.channel_id"
                      [channel_name]="videoByTag.channel_name"
                      card="homepage"
                      [title]="videoByTag.title"
                      [published_date]="videoByTag.published_date"
                      [duration]="videoByTag.duration"
                      [thumbnail]="this.service.getThumbnail(videoByTag.thumbnail, videoByTag.video_url)"
                      [channel_avatar]="this.BaseUrl + videoByTag.channel_picture">
      </app-video-card>
    </ng-container>
  </div>

</div>

