<div class="icon">
  <fa-icon class="icon"[icon]="faShareAlt" (click)="openPopUp(); $event.stopPropagation()"></fa-icon>
</div>

<div class="overlay" *ngIf="show" (click)="$event.stopPropagation()"></div>

<div class="share_container" *ngIf="show">
  <div class="info">
    <h3>{{'SHAREVIDEO' | translate}}</h3>
    <img class="x" (click)="closePopUp()" src="assets/closeBtn.svg" >
  </div>
  <p class="p">{{'SHAREVIA' | translate}}</p>
  <div class="icons">
    <div class="icon">
      <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
      </a>
    </div>
    <div class="icon">
      <a href="https://twitter.com/intent/tweet" target="_blank">
        <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
      </a>
    </div>
    <div class="icon">
      <a href="whatsapp://send?text=The text to share!" target="_blank">
        <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
      </a>
    </div>
  </div>
  <p class="p">{{'COPYLINK' | translate}}</p>
  <div class="field">
    <fa-icon [icon]="faLink"></fa-icon>
    <p class="url">{{url}}</p>
    <button (click)="copyLink()">{{'COPY' | translate}}</button>
  </div>
</div>
