<main id="article_wrapper" *ngFor="let theme of theme">
  <div class="channel_information_wrapper">
    <div class="channel_cover_container">
      <img
        [src]="BaseUrl + theme.channel_cover"
        alt="" class="channel_cover">
    </div>
    <p class="channel_name">{{theme.channel_name}}</p>
    <div class="channel_avatar_container">
      <img [src]="BaseUrl + theme.channel_picture"
           alt="" class="channel_avatar">
    </div>
  </div>

  <div class="article_info">
    <div class="article_title">
      <h1>{{theme.title}}</h1>
      <div class="article_tags">
        <p *ngFor="let tag of tagsById">#{{tag.name}}</p>
      </div>
    </div>
  </div>

  <div class="article_container">
    <div class="article_body" [innerHTML]="theme.body">
    </div>
    <h2>Featured Videos</h2>
    <div class="article_videos_container">
      <app-video-card class="video_card" [routerLink]="['/video']" *ngFor=" let video of videosById"
                      [id]="video.path"
                      [channel_name]="video.channel_name"
                      card="homepage"
                      [title]="video.title"
                      [published_date]="video.published_date"
                      [duration]="video.duration"
                      [thumbnail]="this.service.getThumbnail(video.thumbnail, video.video_url)"
                      [channel_avatar]="this.BaseUrl + video.channel_picture">
      </app-video-card>
    </div>
    <h2>More videos about this theme</h2>
    <div class="tag_videos_container">
      <app-video-card class="video_card" [routerLink]="['/video']" *ngFor="let video of videos"
                      [id]="video.path"
                      [title]="video.title"
                      [channel_name]="video.channel_name"
                      card="homepage"
                      [published_date]="video.published_date"
                      [duration]="video.duration"
                      [thumbnail]="this.VideoId(video.thumbnail, video.video_url)"
                      [channel_avatar]="this.BaseUrl + video.channel_picture">
      </app-video-card>
    </div>
    <div class="popup" *ngIf="this.service.showShare">
      <app-share></app-share>
    </div>
  </div>
</main>
