<div id="article_card_wrapper" *ngFor="let theme of themes">
    <div class="article_cover_container">
      <img [src]="BASE_URL+ theme.thumbnail" alt="">
    </div>
    <div class="article_info_container">
      <h1 class="title">{{theme.title}}</h1>
      <p class="chnl">{{theme.channel_name}}</p>
      <div class="article_tags_container">
        <p class="tags">#html</p>
        <p class="tags">#css</p>
        <p class="tags">#tutorial</p>
      </div>
      <div class="article_teaser">
        <p class="teaser">{{theme.teaser}}</p>
      </div>
    </div>
</div>
