.theme_sug_container{
  border-radius: 1rem;
  background-color: #1C1C24;
  width: 100%;
  overflow: hidden;

  p {
    color: #FAFAFB;
    padding-left: 15px;
  }

  .theme_sug_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 1.5px solid #292932;

    p {
      margin: 0;
    }

    h5 {
      margin: 0;
    }
  }

  .theme_container {
    display: flex;
    align-items: center;
    padding: 1rem;

    .theme_avatar {
      height: 3rem;
      width: 3rem;
      border: 1px solid white;
      border-radius: 30rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .theme_info {
      h5 {
        color: #FFFFFF;
        padding-left: 1rem;
        margin: 0;
      }

      h6 {
        margin: 0;
        color: #FFFFFF;
        padding-left: 1rem;
      }
    }
  }

  .theme_img_container {
    width: 100%;
    aspect-ratio: 1/0.5;
    padding: 1rem;
    box-sizing: border-box;


    .theme_img {
      width: 100%;
      border-radius: 1rem;
    }
  }

}
