.card_channel_container{
  width: 50%;
  background-color: #1C1C24;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;



  .imagem {
    width: 100%;
    aspect-ratio: 1/0.20;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;

    }


  }
  .avatar{
    width: 70px;
    aspect-ratio: 1/1;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 30px;
    bottom: 40px;
    background-size: cover;
    background-position: center;
  }

  .info{
   margin-left: 120px;
  }

  .canal{
    color: white;
    font-size: 1.3rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.5rem;
    max-width: 70%;
    margin-bottom: 0.5rem;
  }
  .tag{
      color: #1E75FF;
      font-weight: 200;
      margin: 0;
    }

  .nr_videos{
    color: #92929D;
    font-weight: 200;
    margin: 0;

  }
  }
