<div id="channel_list_wrapper">
  <div class="main_content_wrapper">
    <p>{{'CHANS' | translate}}</p>
    <div class="content_wrapper">
        <app-channel-card
          *ngFor="let channel of channels"
          class="card"
          [id]="channel.path"
          [name]="channel.name"
          [cover_image]="channel.cover_image"
          [description]="channel.description"
          [profile_picture]="channel.profile_picture"
          [nr_videos]="nrvideos[channel.channel_id].number_of_videos"
          >
        </app-channel-card>
    </div>
  </div>
</div>
