#playlist_list_wrapper{
  padding-left:14%;

  .main_content_wrapper{
    width: 86%;

    p {
      padding-left: 2.5rem;
      font-size: 1.7rem;
      font-weight: 600;
      margin: 0;
    }

    .content_wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;

      .playlist_card{
        padding: 1rem;
        box-sizing: border-box;
        width: 33%;
      }
    }

}

}

@media only screen and (max-width: 768px) {
  #playlist_list_wrapper {
    padding: 10rem 1rem 0 1rem;

    .main_content_wrapper {

      p {
        padding: 0 0 0 1rem;
      }

      .content_wrapper {
        display: block;

        .playlist_card {
          width: 100%;
        }
      }
    }
  }
}
