<div id="playlist_list_wrapper">
  <div class="main_content_wrapper">
    <p>{{'PLAYLISTS' | translate}}</p>
    <div class="content_wrapper">
      <app-playlist-card class="playlist_card" *ngFor="let playlist of playlists"
                         [playlist_id]="playlist.playlist_id"
                         [title]="playlist.title"
                         [category]="playlist.category_name"
                         [image]="playlist.image"
                         [date]="playlist.date"
                         [videosId]="playlist.videos"
      >

      </app-playlist-card>
    </div>
  </div>
</div>

