<div class="video_card_container"[ngClass]="card" [routerLink]="['/video/', id]">
  <div class="imagem">
    <img src="{{thumbnail}}" alt="...">
    <div class="time">
      <p>{{duration}}</p>
    </div>
  </div>
    <div class="avatar"  *ngIf="card=='homepage'|| card=='videopage'" style="background-image: url({{channel_avatar}})" [routerLink]="['/channel/',channelId]"></div>
  <div class="info">
    <p class="canal" *ngIf="card=='homepage'|| card=='videopage'" [routerLink]="['/channel/',channelId]" >{{channel_name}}</p>
    <div class="tags" *ngIf="card=='channelpage'">
      <a class="tag" href="" *ngFor=" let tag of tags" [routerLink]="['/search/tag/',tag.id]" >#{{tag.name}}</a>
    </div>

    <p class="titulo">{{title}}</p>
  </div>
  <div class="info_bottom">
    <p class="data">{{published_date}}</p>
    <div class="buttons_container">
      <i class="fa-regular fa-bookmark icon"></i>

     <i class="fa-solid fa-share-nodes icon" (click)="$event.stopPropagation(); sharePopup($event)"></i>
    </div>
  </div>
</div>

<div class="popup visible" [style.display]="'none'">
 <app-share></app-share>
</div>

