.video_card_container {
  width: 100%;
  background-color: #1C1C24;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in;

  .play_video {
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0);
    position: absolute;
    top: 0;
    z-index: 3;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out ;

    p {
      font-size: 2rem;
      opacity: 0;
      transition: all 0.4s ease-in-out ;
    }

    fa-icon {
      font-size: 2rem;
      padding-left: 0.5rem;
      opacity: 0;
      transition: all 0.4s ease-in-out ;
    }
  }

  &:hover {

    .play_video {
      background: rgba(37, 37, 37, 0.55);


      p {
        font-size: 2rem;
        opacity: 0.9;
      }

      fa-icon {
        font-size: 2rem;
        padding-left: 0.5rem;
        opacity: 0.9;
      }

    }
  }

  &.homepage {

    .imagem {
      width: 100%;
      aspect-ratio: 1/0.47;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;

      }

      .time {
        position: absolute;
        background-color: #171725;
        border-radius: 5px;
        color: white;
        padding: 2px 10px;
        bottom: 14px;
        left: 20px;
        font-size: 0.85rem;
        z-index: 3;

        p {
          margin: 0;
        }
      }
    }


    .avatar {
      width: 70px;
      aspect-ratio: 1/1;
      border: 2px solid #FFFFFF;
      border-radius: 3000rem;
      overflow: hidden;
      position: absolute;
      right: 30px;
      bottom: 80px;
      background-size: cover;
      background-position: center;
      z-index: 4;
    }

    .info {
      padding-left: 20px;
      padding-top: 20px;
      width: 80%;

      .canal {
        color: #1E75FF;
        font-weight: 200;
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .titulo {
        color: white;
        font-size: 1.3rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 2rem;
        max-width: 95%;
      }
    }

    .info_bottom {
      display: flex;
      justify-content: space-between;
      padding-right: 3rem;
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      position: relative;

      .data {
        color: #92929D;
        font-weight: 200;
        margin: 0;

      }

    }

    .buttons {
      display: flex;

      .share_button {
        max-width: 200px;
        background-color: #1C1C24;
        border-radius: 10px;
        cursor: pointer;

        .icon {
          color: #fff;
          cursor: pointer;
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
        }

      }

      .fav_button {
        padding-right: 1rem;
        font-size: 1.5rem;

        .icon {
          padding-bottom: 0.7rem;
          color: #fff;
        }
      }
    }
  }

  &.videopage {

  }

  &.channelpage {

    .imagem {
      width: 100%;
      aspect-ratio: 1/0.47;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;

      }

      .time {
        position: absolute;
        background-color: #171725;
        border-radius: 5px;
        color: white;
        padding: 2px 10px;
        bottom: 14px;
        left: 20px;
        font-size: 0.85rem;
        z-index: 3;

        p {
          margin: 0;
        }
      }

    }

    .info {
      padding-left: 20px;
      padding-top: 20px;
      width: 100%;
      .tags {
        display: flex;

        .tag {
          color: #1E75FF;
          font-weight: 200;
          margin: 0;
          padding-right: 0.4rem;
        }
      }

      .canal {
        color: #1E75FF;
        font-weight: 200;
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .titulo {
        color: white;
        font-size: 1.3rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 2rem;
        max-width: 90%;
      }
    }

    .info_bottom {
      display: flex;
      justify-content: space-between;
      padding-right: 3rem;
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      position: relative;

      .data {
        color: #92929D;
        font-weight: 200;
        margin: 0;

      }
    }
  }

    &.playlistpage {
      display: flex;
      padding: 0.5rem;
      border-radius: 20px;

      &:hover {
        background-color: #13131A;
      }

      .imagem {
        width: 50%;
        aspect-ratio: 1/0.5;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        outline: 0;

        img {
          width: 100%;
        }

        &.selected {
          outline: 2px solid #fffdf6;
          outline-offset: -2px;
          box-shadow: 0 0 6px #fffdf6;
          width: 60%;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

      }


      &.selected:first-of-type {
        margin-top: 0;

      }

      &.selected:last-of-type {
        margin-bottom: 0;
      }

      .info{
        &.selected{
          width: 40%;
        }
      }

    }

      .time {
        position: absolute;
        background-color: #171725;
        border-radius: 5px;
        color: white;
        padding: 0.15rem 0.5rem;
        bottom: 1rem;
        left: 1rem;
        font-size: 0.85rem;

        p {
          margin: 0;
        }
      }

      .info {
        width: 50%;
        padding: 0 0 0 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;


        .canal {
          color: #92929D;
          font-weight: 200;
          margin: 0;

      .canal {
        color: #92929D;
        font-weight: 200;
        margin: 0;

          &:hover {
            text-decoration: underline;
          }
        }

        .titulo {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-height: 2rem;
        }
      }
    }


  .tags {
    display: flex;
    width: 100%;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    .tag {
      font-weight: 400;
      color: #1E75FF;

      &:hover {
        text-decoration: underline;

      }
    }
  }


}

  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(45, 44, 44, 0.2);
}


@media only screen and (max-width: 768px) {
  .video_card_container {

    &.homepage {
      width: 100%;
    }
  }
}
