<div class="playlist_card_container" routerLink="/playlist/{{playlist_id}}">
  <div class="imagem">
    <img [src]="BASE_URL+image" alt="...">
  </div>

  <div class="info_container">
    <div class="info">
      <p class="nome">{{title}}</p>
      <p class="categoria">{{category}}</p>
      <p class="data">{{date}}</p>
    </div>
    <div class="play_all">
    <div class="play_videos">
      <p class="nr_videos">{{this.service.countVideos(videosId)}}</p>
      <fa-icon [icon]= "faPlay" class="icon"></fa-icon>
    </div>
    <div>
      <p>Play all</p>
    </div>
    </div>
  </div>
</div>
