<div class="main_content_wrapper">
  <div class="results_info">
    <p>{{'RESULT' | translate}}</p>
    <p class="tag_name" *ngFor=" let tag of tags" [routerLink]="['/search/tag/',tag.id]" >#{{tag.name}}</p>
  </div>

  <div class="content_wrapper" >
    <app-video-card class="video_card" *ngFor=" let video of videos"
                    [id]="video.path"
                    [channelId]="video.channel_id"
                    [channel_name]="video.channel_name"
                    card="homepage"
                    [title]="video.title"
                    [published_date]="video.published_date"
                    [duration]="video.duration"
                    [thumbnail]="this.service.getThumbnail(video.thumbnail, video.video_url)"
                    [channel_avatar]="this.BaseUrl + video.channel_picture">

    </app-video-card>
  </div>
</div>
