<div class="container">
  <div>
    <fa-icon [icon]="faFlag" class="icon" (click)="openReport()"></fa-icon>
  </div>

  <div class="report_container" *ngIf="show">
  <form  class="report_form"[formGroup]="reportComment" (ngSubmit)="sendReport()" >
    <div class="form_group">
      <span >{{'ROPTION' | translate}}:</span>
      <div class="radio_contianer">
        <input type="radio" id="hateSpeech" formControlName="reason" value="hateSpeech">
        <label for="hateSpeech">{{'HSPEECH' | translate}}</label>
      </div>
      <div class="radio_contianer">
        <input type="radio" id="sexual" formControlName="reason" value="sexual">
        <label for="sexual">{{'SEX' | translate}}</label>
      </div>
      <div class="radio_contianer">
        <input type="radio" id="spam" formControlName="reason" value="spam">
        <label for="spam">{{'SPAM' | translate}}</label>
      </div>
      <div class="radio_contianer" >
        <input type="radio" id="other" formControlName="reason" value="other"  >
        <label for="other">{{'OTHER' | translate}}</label>
      </div>
      <div *ngIf="reportComment!.get('reason')!.value === 'other'">
        <input type="text" id="otherReason" formControlName="otherReason" [required]="reportComment!.get('reason')!.value === 'other'" [ngClass]="{ 'is-invalid': reportComment!.get('otherReason') && reportComment!.get('otherReason')!.invalid  }">
        <div *ngIf="reportComment!.get('otherReason') && reportComment!.get('otherReason')!.invalid" class="invalid-feedback">
          Please explain the reason for the report.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="reportComment.invalid">{{'SEND' | translate}}</button>
  </form>
</div>
</div>
