.container{
position: absolute;

  .icon{
    cursor: pointer;
  }

}

.background_contianer{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(15, 16, 26, 0.4);
  left: 0;
  z-index: 100;
}
.report_container{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #1c1c24;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  h4{
    font-weight: 100;
    margin: 0;
    align-self: baseline;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    b{
      font-weight: bold;
    }
  }

  .report_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


    .close-button {
      width: 1.3rem;
      height: 1.3rem;
      position: relative;
      border-radius: 400rem;
    border: 1px solid whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      overflow: hidden;

      &:hover {
        transform: scale(1.1);
      }

      &:before,
      &:after {
        content: "";
        width: 60%;
        height: 1px;
        background-color: whitesmoke;
        position: absolute;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .report_form {



  .form_group {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    gap:1rem;

    .radio_contianer{
      display: flex;
      align-items: center;


      &.is-invalid {
        border-color: red;
        background-color: red;
      }
    }

    label {
      align-items: center;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom:0;
    }

    input[type="radio"] {
      margin-right: 0.5rem;
    }

    input[type="text"] {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid lightgray;
      font-size: 1rem;

      &.is-invalid {
        border-color: red;
      }
    }

    .invalid-feedback {
      font-size: 0.8rem;
      color: red;
      margin-top: 0.5rem;
    }
  }

.other_container{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  margin-bottom:1.5rem;
}
}

  button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: white;
      border-color: transparent;
      color: #1C1C24;
    }
  }


}
