<div class="comment_box">
  <form class="form" [formGroup]="postComment" (ngSubmit)="onSubmit()" novalidate>
    <div class="name_email">

      <div class="input_controler">
        <input type="text" class="form_name" formControlName="name" placeholder="{{'NAME' | translate}}"
               [ngClass]="{'is_invalid': submitted && (postComment.hasError('required','name').valueOf() || postComment.hasError('maxlength', 'name ').valueOf() )}">
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('required','name')">{{'NREQUIRED' | translate}}</small>
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('maxlength','name')">{{'NSHORT' | translate}}</small>
      </div>

      <div class="input_controler">
        <input type="email" class="form_email" formControlName="email" placeholder="{{'EMAIL' | translate}}"
               [ngClass]="{'is_invalid': submitted && (postComment.hasError('required','email').valueOf() || postComment.hasError('email','email').valueOf() || postComment.hasError('maxlength','email').valueOf())}">
        <small *ngIf="postComment.controls['email'].dirty && postComment.hasError('required','email')" email>{{'EREQUIRED' | translate}}</small>
        <small *ngIf="postComment.controls['email'].dirty && postComment.hasError('email','email')">{{'EVALID' | translate}}</small>
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('maxlength','name')">{{'ESHORT' | translate}}</small>
      </div>

    </div>
    <div class="input_controler">
      <input type="text" class="form_message" formControlName="message" placeholder="{{'MSG' | translate}}"
             [ngClass]="{'is_invalid': submitted && ( postComment.hasError('required','message').valueOf() || postComment.hasError('maxlength','message').valueOf())}">
      <small *ngIf="postComment.controls['message'].dirty && postComment.hasError('required','message')">{{'MREQUIRED' | translate}}</small>
      <small *ngIf="postComment.controls['message'].dirty && postComment.hasError('maxlength','message')">{{'MLONG' | translate}}</small>
    </div>
    <div class="container_button">
      <button id="submit">{{'SUBMITC' | translate}}</button>
    </div>

  </form>


  <div class="comment_warper">
    <div class="comment_header"><h3 class="result">{{comments.length}}</h3>
      <h3>{{'COMMENTS' | translate}}:</h3></div>
    <div class="comment_item" *ngFor="let comment of this.comments">
      <div class="avatar"
           style="background-image: url('{{this.service.getGravatar(comment.email)}}'), url('{{this.service.getRandomAvatart(comment.email)}}')  "></div>
      <div class="details">
        <div class="details_header">
          <div class="name_date">
            <div class="name">{{comment.username}}</div>
            <div class="publish_date">{{comment.date}}</div>
          </div>
          <app-report-pop-up class="report" [comment_id]="comment.id" [comment_type]="type"></app-report-pop-up>
        </div>
        <div class="comment_body">{{comment.comment}}</div>
      </div>
    </div>
  </div>

<!--
    <div class="report_container">
      <div>
        <fa-icon [icon]="faFlag" class="icon" (click)="toggleReport()"></fa-icon>
      </div>

      <div class="options" *ngIf="showReport">
        <span>{{'ROPTION' | translate}}</span><br>
        <input type="radio" id="hateSpeech" value="HateSpeech">
        <label for="hateSpeech">{{'HSPEECH' | translate}}</label><br>
        <input type="radio" id="sexual" value="sexual">
        <label for="sexual">{{'SEX' | translate}}</label><br>
        <input type="radio" id="spam" value="spam">
        <label for="spam">{{'SPAM' | translate}}</label><br>
        <input type="radio" id="other" value="other">
        <label for="other">{{'OTHER' | translate}}</label><br>
        <input type="button" value="{{'SEND' | translate}}" (click)="sendReport()">
      </div>

      <span class="thanks" *ngIf="reportSent">{{'TYREPORT' | translate}}</span>
    </div>
  </div>
</div>
-->



</div>
