<div class="comment_box">

  <img class="avatar" src="assets/avatar.png">

  <!--<form [formControl]="" action="" method="post">-->
    <div class="name_email">
    <input type="text" class="form" name="name" id="name"placeholder="Name" formControlName="name">
    <input type="text" class="form" placeholder="Email">
</div>
    <input type="text" class="form" placeholder="Message">
    <div class="button">
      <!--<button (click)="post()">Submit Comment</button>-->
    </div>

  <div *ngFor="let comments of postComment">
  <p>{{comments}}</p>

</div>
</div>
