<div class="comment_box">


  <form class="form" [formGroup]="postComment" (ngSubmit)="onSubmit()" novalidate>
    <div class="name_email">

      <div class="input_controler">
        <input type="text" class="form_name" formControlName="name" placeholder="Name"
               [ngClass]="{'is_invalid': submitted && (postComment.hasError('required','name').valueOf() || postComment.hasError('maxlength', 'name ').valueOf() )}">
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('required','name')">Name is
          required</small>
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('maxlength','name')">Chose a shorter
          name, less that 100 charaters</small>
      </div>

      <div class="input_controler">
        <input type="email" class="form_email" formControlName="email" placeholder="Email"
               [ngClass]="{'is_invalid': submitted && (postComment.hasError('required','email').valueOf() || postComment.hasError('email','email').valueOf() || postComment.hasError('maxlength','email').valueOf())}">
        <small *ngIf="postComment.controls['email'].dirty && postComment.hasError('required','email')" email>Email is
          required</small>
        <small *ngIf="postComment.controls['email'].dirty && postComment.hasError('email','email')">Write a valid
          e-mail</small>
        <small *ngIf="postComment.controls['name'].dirty && postComment.hasError('maxlength','name')">the email should
          have less that 100 charaters</small>
      </div>

    </div>
    <div class="input_controler">
      <input type="text" class="form_message" formControlName="message" placeholder="Message"
             [ngClass]="{'is_invalid': submitted && ( postComment.hasError('required','message').valueOf() || postComment.hasError('maxlength','message').valueOf())}">
      <small *ngIf="postComment.controls['message'].dirty && postComment.hasError('required','message')">The message
        can't be empty</small>
      <small *ngIf="postComment.controls['message'].dirty && postComment.hasError('maxlength','message')">the charater
        limit is 500 you have </small>
    </div>
    <div class="container_button">
      <button id="submit">Submit Comment</button>
    </div>

  </form>


  <div class="comment_warper">
    <div class="comment_header"><h3 class="result">3</h3>
      <h3>Comentários:</h3></div>
    <div class="comment_item">
      <div class="avatar"
           style="background-image: url('{{this.service.getGravatar('diogo.azv97@gmail.com')}}'), url('{{this.service.getRandomAvatart('diogo.azv97@gmail.com')}}')  "></div>
      <div class="details">
        <div class="details_header">
          <div class="name">Fernando</div>
          <div class="publish_date">há 20 min</div>
        </div>
        <div class="comment_body">ddfsfsf</div>
      </div>
      <div>
        <fa-icon [icon]="faEllipsisV" class="icon" (click)="toggleReport()"></fa-icon>
        <div class="report1" *ngIf="showReport1" (click)="toggleReport2()">
          <fa-icon [icon]="faFlag" class="icon"></fa-icon>

          <span>Report</span>

          <div class="options" *ngIf="showReport2">
            <input type="radio" id="hateSpeech" value="HateSpeech">
            <label for="hateSpeech">Hate Speech</label><br>
            <input type="radio" id="sexual" value="sexual">
            <label for="sexual">Sexual explicit material</label><br>
            <input type="radio" id="spam" value="spam">
            <label for="spam">Spam</label><br>
            <input type="radio" id="other" value="other">
            <label for="other">Other</label><br>
            <input type="button" value="Send" (click)="sendReport()">

          </div>
          <span *ngIf="reportSent">Thank you for your report!</span>
        </div>

      </div>

    </div>
  </div>
  <!--
    <div *ngFor="let comments of postComment">
    <p>{{comments}}</p>
    </div>
    -->

</div>

